* { box-sizing: border-box; }
#homehero { background-image: url(hero.jpg);
		height: 250px;
		background-size: 100% 100%; }
#heromugs {background-image: url(heromugs.jpg);
		height: 250px;
		background-size: 100% 100%; }
#heroguitar { background-image: url(heroguitar.jpg);
		height: 250px;
		background-size: 100% 100%; }
nav a:link { color: #FEF6C2; }
nav a:visited { color: #D2B48C; }
nav a:hover { color: #CC9933; }
nav { font-weight: bold;
      text-align: center;
      font-size: 1.5em;
      padding-top: 5px;
      padding-bottom: 5px;
      float: left;
      width: 200px; }
nav ul { list-style-type: none; padding-left: 0px; }
nav a { text-decoration: none; }
body { background-image: url(fadedroad50.jpg);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       background-color: #FCEBB6; 
       font-family: Tahoma, Arial, sans-serif; }
header { background-color: #D2B48C;
	 color: #8C3826;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 background-image: url(coffeelogo.jpg);
	 background-repeat: no-repeat;
	 padding-left: 240px;
	 color: #231814;  }
h1 {font-size: 3em;}
h1 a:link, a:visited , a:hover, a:active {
  text-decoration: none;
  color: #231814;
}


h2 { color: #8C3826;  }
h3 { color: #8C3826; }
h4 { background-color: #D2B48C;
     font-size: 1.2em;
     padding-left: .5em;
     padding-bottom: 0em;
     border-bottom: 2px solid #221811;
     text-transform: uppercase;
     clear: left; } 
img { padding-left: 10px;
	padding-right: 10px; }
dt { color: #8C3826; }
main { padding-left: 0em;
	padding-right: 0em;
	padding-bottom: 15px;
	padding-top: 0em;
	margin-left: 200px;
	background-color: #FCEBB6;
	overflow: auto; }
main h2, main h3, main h4, main p, main div, main ul, main dl { padding-left: 3em; padding-right: 2em; }
.floatleft { float: left; 
	     padding-left: 2em; }
.details { padding-left: .20em;
	  padding-right: .20em;
	  overflow: auto; }
#wrapper { width: 80%; min-width: 900px; max-width: 1280px;
	   box-shadow:3px 3px #333333;
	   background-color: #231814;
	   margin-right: auto;
	   margin-left: auto; }
footer { background-color: #D2B48C;
         font-size: .60em;
         font-style: italic;
	 text-align: center;
	 padding: 1 em;
	 border-top: 2px solid #8C3826; }
#onethird { float: left; 
	    width: 33%; }
